<ion-header>
  <ion-toolbar>
    <ion-title>Find Movies By Genre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="movies-flex">
            <div class="movie" *ngFor="let item of results">
              <div class="poster">
                <img *ngIf="item.poster_path" class="poster" (click)="onMovieClick(item.id)" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
              </div>
              <div class="title">{{ item.title }}</div>
              <div class="year">{{ item.release_date | date:'yyyy' }}</div>
              <div class="vote"><ion-icon name="star"></ion-icon><b>{{ item.user_rating }}</b>/10</div>
            </div>
        </div>

</ion-content>
