<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
       <ion-title>{{tv.name}}</ion-title>     
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div *ngIf="tv.backdrop_path">
          <img *ngIf="tv.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + tv.backdrop_path">
      </div>
    <h1>{{tv.name}}</h1> 
    <ion-buttons>
    <ion-button slot="end" onclick="addToWatchList(tv.id)" color="light">add to watchlist</ion-button>
    <ion-button slot="end" onclick="collectTomstone(tv.id)" color="light">Collect Tombstone</ion-button>
  </ion-buttons>
    <h2>{{tv.runtime}}</h2>
    <p>{{tv.overview}}</p>
    <h1>similar shows</h1>
      
     <div class="movie" * ngFor="let season of season">
       <div class = poster>
         <img ngIf="season.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + season.poster_path">
         <img *ngIf="season.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + season.poster_path">
       </div>
       <div class="title"></div>
     </div>




      <!-- <div class="movies-flex">
      <div class="movie" *ngFor="let item of similar">
        <div class="poster">
          <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="title">{{ item.name }}</div>
        <div class="First Aired">{{ item.first_air_date | date:'yyyy' }}</div>
        <div class="vote"><ion-icon name="star"></ion-icon>{{ item.vote_average }}/10</div>
      </div>
    </div> -->
  </ion-content>
