<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
       <ion-title color="dark">{{tv.name}}</ion-title>     
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div *ngIf="tv.backdrop_path">
          <img *ngIf="tv.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + tv.backdrop_path">
      </div>
      <div class="buttons">
          
          <ion-buttons>
            <div class="watchlist"><ion-button size="small" (click)="addTvToWatchList()">add to watchlist</ion-button></div>
            <div class="tombstone"><ion-button size="small" (click)="collectTombstone()">Collect Tombstone</ion-button></div>
          </ion-buttons>
        </div>
      <div class="overview">
        <h1>{{tv.name}}</h1>
        <h4>Overview</h4>
        <div class="discrip">{{tv.overview}}</div>
        <h4>Episode Runtime</h4>
        <div class="runtime">{{tv.episode_run_time}} minutes</div>
     </div>
    <div class="trailer">
        <iframe width="100%" 
            height="315" 
            [src]="decryptedUrl ? decryptedUrl : null"
            (load)="decryptedUrl ? onFinishLoading() : null"
            frameborder="0" 
            allowfullscreen>
        </iframe>
  </div>
     <div class="genres">
        <ion-chip outline color="dark" ngFor="let genre of movie.genres" (click)="navToGenrePage(genre.id)">
            <ion-label>{{ genre.name }}</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-chip>
    </div>
     
   
<!--Add route for viewing all season page-->
  <div class="Seasons">
  <h1>Seasons</h1>
  </div>
  
    <div class="movies-flex">
        <div class="movie" *ngFor="let item of tv.seasons" (click)="onSeasonClick(tv.id, item.season_number)">
          <div class="poster">
            <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
            <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          </div>
          <div class="title">{{ item.name }}</div>
          <div class="year">{{item.air_date}}</div>
          <div class="vote">{{item.episode_count}} Episodes</div>
        </div>
      </div>
    <div class="similar">
      <h2>Similar Shows</h2>
    </div>
    <div class="movies-flex">
      <div class="movie" *ngFor="let item of similar" (click)="onTvClick(item.id)">
        <div class="poster">
          <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="title">{{ item.name }}</div>
        <div class="First Aired"></div>
        <div class="vote"><ion-icon name="star"></ion-icon>{{ item.vote_average }}/10</div>
      </div>
    </div>
  </ion-content>
