<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
       <ion-title>{{tv.name}}</ion-title>     
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div *ngIf="tv.backdrop_path">
          <img *ngIf="tv.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + tv.backdrop_path">
      </div>
    <h1>{{tv.name}}</h1> 
    <ion-buttons>
    <ion-button slot="end" onclick="addToWatchList(tv.id)" color="light">add to watchlist</ion-button>
    <ion-button slot="end" onclick="collectTomstone(tv.id)" color="light">Collect Tombstone</ion-button>
  </ion-buttons>
    <p>{{tv.overview}}</p>
   
<!--Add route for viewing all season page-->
    <h1>Seasons</h1>
  
    <div class="movies-flex">
        <div class="movie" *ngFor="let item of tv.seasons" (click)="onSeasonClick(tv.id, item.season_number)">
          <div class="poster">
            <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
            <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          </div>
          <div class="title">{{ item.name }}</div>
          <div class="year">{{item.air_date}}</div>
          <div class="vote">{{item.episode_count}} Episodes</div>
        </div>
      </div>


      <h2>Similar Shows</h2>
    
    <div class="movies-flex">
      <div class="movie" *ngFor="let item of similar" (click)="onTvClick(item.id)">
        <div class="poster">
          <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="title">{{ item.name }}</div>
        <div class="First Aired"></div>
        <div class="vote"><ion-icon name="star"></ion-icon>{{ item.vote_average }}/10</div>
      </div>
    </div>
  </ion-content>
