<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      About Us
    </ion-card-title>
    <ion-card-content>
      Tombstone was designed to streamline the dreaded time wasted on finding movies to watch. With Tombstone,
      you are able to keep records of watchlists, collect tombstones, rate movies for the benifit of our recommended movies algorithm, 
      add to your favorites, and have access to trailers for every movie that you could imagine existed! Think of us like your own personal movie wallet.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      Data source
    </ion-card-title>
    <ion-card-content>
      This product uses the TMDb API but is not endorsed or certified by TMDb. All data is used from there database. If you believe that some of the data is incorrect, please call their customer service.
    </ion-card-content>
    <ion-icon src="/assets/icon/greenTMDB.svg"></ion-icon>
  </ion-card>
</ion-content>
