<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      Data source
    </ion-card-title>
    <ion-card-content>
      This product uses the TMDb API but is not endorsed or certified by TMDb. All data is used from there database. If you believe that some of the data is incorrect, please call their customer service.
    </ion-card-content>
    <ion-icon src="/assets/icon/greenTMDB.svg"></ion-icon>
  </ion-card>
</ion-content>
