<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Season {{season.season_number}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
      <ion-card *ngFor="let item of season.episodes">
        <img [src]="'https://image.tmdb.org/t/p/w500' + item.still_path">
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>Episode {{item.episode_number}}</ion-card-subtitle>
        <ion-card-content>{{item.overview}}</ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
