<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    </ion-toolbar>
    <ion-title>Main Page</ion-title>
</ion-header>
<ion-content>
    <div class="QuickAction">
        <div *ngIf="displayMyActivity">
            <ion-label>My Activity</ion-label>
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
    
    <hr>
    
    <div class="QuickAction">
      <div *ngIf="displayMyWatchlistQueue">
        <ion-label>Quick Action</ion-label>
          <ion-slides [options]="sliderOpts">
              <ion-slide *ngFor="let item of watchlistQueue" (click)="onMovieClick(item.id)">
                        <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">

                  </ion-slide>
           </ion-slides>
      </div>
    </div>
    
    <hr>

    <div class="QuickAction">
      <div *ngIf="displayRecentlyWatchedQueue">
        <ion-label>Recently Watched</ion-label>
          <ion-slides [options]="sliderOpts">
              <ion-slide *ngFor="let item of recentlyWatchedQueue" (click)="onMovieClick(item.id)">
                        <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">

                  </ion-slide>
           </ion-slides>
      </div>
    </div>
    
    <hr>
    
    <div class="QuickAction">
      <div *ngIf="displayMyFavorites">
        <ion-label>Quick Action</ion-label>
          <ion-slides [options]="sliderOpts">
              <ion-slide *ngFor="let item of favoritesQueue" (click)="onMovieClick(item.id)">
                        <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">

                  </ion-slide>
           </ion-slides>
      </div>
    </div>
    
    <hr>
    
    <div class="QuickAction">
      <div *ngIf="displayRecommended">
        <ion-label>Quick Action</ion-label>
          <ion-slides [options]="sliderOpts">
              <ion-slide *ngFor="let item of recommendedQueue" (click)="onMovieClick(item.id)">
                        <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">

                  </ion-slide>
           </ion-slides>
      </div>
    </div>
    
    <hr>
    
    <div class="genres">
        <div *ngIf="displayGenres">
            <ion-label>Genres you like</ion-label>
                <div class="genre" *ngFor="let genre of genres">
                    <ion-chip color="light" slot="end" (click)="navToGenreTopTrending(genre.id)">{{genre.name}}</ion-chip>
                </div>
        </div>
    </div>
    
    <hr>

      <div class="tombstoneFooter">
        <ion-label>Footer disclaimer</ion-label>    
      </div>
    
    
</ion-content>
