<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    </ion-toolbar>
    <ion-title>Main Page</ion-title>
</ion-header>
<ion-content>
    div class="MyActivity">
        <ion-label>My Activity</ion-label>
    </div>

    <div class="pendingWatchlist">
        
        
    </div>

    <div class="Favorites">
        
    </div>
    
    <div class="RecommendYou">
        
    </div>

    <div class="tombstoneFooter">
        
        
    </div>
    
    
</ion-content>
