<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
              <ion-badge ngIf="{{p.title}} === 'Tombstones'" slot="end" color="light">{{tombstoneSize}}</ion-badge>
              <ion-badge ngIf="{{p.title}} === 'Watch List'" slot="end" color="light">{{watchlistSize}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
<!--           
          <ion-item button *ngIf="p.children?.length > 0" (click)="p.open =!p.open" [class.parent-active]="p.open" detail="false">
            <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>

          <ion-list *ngIf="p.open">
            <ion-menu-toggle>
              <ion-item *ngFor="let sub of p.children" [routerDirection]="root" [routerLink]="sub.url">
                <ion-label>{{sub.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

