<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> 
        <button ion-button color="white" slot="end" (click)="openSortingModal($event)">
          <ion-icon name="arrow-down" color="primary"></ion-icon>
        </button>
        <ion-title color="dark">Recommended For You</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<p>Collecting tombstones will help us give you recommendations!</p>
</ion-content>
