<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
     <ion-title color="dark">{{movie.title}}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="movie.backdrop_path">
        <img *ngIf="movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path">
    </div>
    <div class="buttons">
        <ion-chip color="light" slot="end" (click)="addMovieToWatchlist()">add to watchlist</ion-chip>
        <ion-chip color="light" slot="end" (click)="collectTombstone()">Collect Tombstone</ion-chip>
      </div>
<div class="overview">
  <h1>{{movie.title}}</h1>
  <h4>Overview</h4>
  <div class="discrip">{{movie.overview}}</div>
  <h4>Runtime</h4>
  <div class="runtime">{{movie.runtime}} minutes</div>
</div>
  <div class="trailer">
    <iframe width="100%" 
            height="315" 
            src= "decryptedUrl"
            frameborder="20%" 
            allowfullscreen>
    </iframe>
  </div>
                                                                         
  
  
  
  <div class="genres">
   <ion-chip outline color="light" *ngFor="let genre of movie.genres">
     <ion-label>{{ genre.name }}</ion-label>
     <ion-icon name="arrow-forward"></ion-icon>
   </ion-chip>
  </div>
  
<div class="similar">
  <h1>Similar Movies</h1>
</div>
  
  <div class="movies-flex">
      <div class="movie" *ngFor="let item of similar" (click)="onMovieClick(item.id)">
        <div class="poster">
          <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="year">{{ item.release_date | date:'yyyy' }}</div>
        <div class="vote"><ion-icon name="star"></ion-icon><b>{{ item.vote_average }}</b>/10</div>
      </div>
    </div>
</ion-content>



