<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
     <ion-title>{{movie.title}}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="movie.backdrop_path">
        <img *ngIf="movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path">
    </div>
  <h1>{{movie.title}}</h1>
  <ion-button [routerLink]="['/', 'list']">add to watchlist</ion-button>
  <ion-button [routerLink]="['/', 'library']">Collect Tombstone</ion-button>
  <h2>{{movie.runtime}}</h2>
  <p>{{movie.overview}}</p>
  <h1>similar movies</h1>
  
  <ion-grid *ngFor="let item of similar; let i = index; let even = even;">
   <ion-row>
    <ion-col>
      <ion-card>
        <img [src]="'https://image.tmdb.org/t/p/original' + item.poster_path">
        <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
      </ion-card>
    </ion-col>
    <ion-col>{{item.title}}</ion-col>
  </ion-row>
  </ion-grid>
</ion-content>



