<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
     <ion-title>{{movie.title}}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="movie.backdrop_path">
        <img *ngIf="movie.backdrop_path" [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path">
    </div>
<span>
  <h1>{{movie.title}}</h1>
  <ion-buttons>
  <ion-button slot="end" [routerLink]="['/', 'list']">add to watchlist</ion-button>
  <ion-button slot="end" [routerLink]="['/', 'library']">Collect Tombstone</ion-button>
</ion-buttons>
</span>
  <h2>{{movie.runtime}}</h2>
  <p>{{movie.overview}}</p>
  <h1>similar movies</h1>
  
  <div class="movies-flex">
      <div class="movie" *ngFor="let item of similar">
        <div class="poster">
          <img *ngIf="item.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
          <img *ngIf="item.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="year">{{ item.release_date | date:'yyyy' }}</div>
        <div class="vote"><ion-icon name="star"></ion-icon><b>{{ item.vote_average }}</b>/10</div>
      </div>
    </div>
</ion-content>



